.after:after {
  display: block;
  content: '';
  clear: both;
}
.before:before {
  display: block;
  content: '';
  clear: both;
}
.swiper-container {
  position: relative;
}
.swiper-container .wushi {
  position: absolute;
  left: 72px;
  bottom: 70px;
  z-index: 100;
  color: white;
  font-size: 50px;
}
.swiper-container .swiper-slide .lunbotu {
  background-position: center;
  width: 1280px;
  height: 460px;
  background-repeat: no-repeat;
  background-size: cover;
}
.web_header {
  height: 35px;
}
.web_header .web_cenbox {
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  position: relative;
}
.web_header .web_cenbox .head_list {
  display: none;
  position: absolute;
  z-index: 100;
  top: 35px;
  right: 0px;
  width: 255px;
  height: 325px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 25px;
}
.web_header .web_cenbox .head_list .search {
  width: 100%;
  height: 40px;
  padding-right: 40px;
  position: relative;
}
.web_header .web_cenbox .head_list .search input {
  padding: 10px;
  width: 100%;
  height: 100%;
}
.web_header .web_cenbox .head_list .search .searchicon {
  padding: 8px 10px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #646464;
  width: 40px;
  height: 40px;
}
.web_header .web_cenbox .head_list .search .searchicon i {
  color: white;
}
.web_header .web_cenbox .head_list ul {
  margin-top: 20px;
  list-style: none;
  color: white;
}
.web_header .web_cenbox .head_list ul li {
  line-height: 37px;
  border-top: 1px solid white;
}
.web_header .web_cenbox .brand .img {
  width: 100px;
  height: 25px;
  float: left;
  border-right: 1px solid black;
}
.web_header .web_cenbox .brand .img img {
  width: 90px;
  height: 25px;
}
.web_header .web_cenbox .brand .word {
  font-size: 12px;
  width: 160px;
  float: left;
  height: 25px;
  text-align: center;
  position: relative;
}
.web_header .web_cenbox .brand .word .eng {
  position: absolute;
  bottom: -5px;
  left: -1px;
  width: 320px;
  display: inline-block;
  font-size: 12px;
  -webkit-transform-origin-x: 0;
  -webkit-transform: scale(0.5);
}
.web_header .web_cenbox .show {
  background-color: #646464;
}
.web_header .web_cenbox .show i {
  color: white;
}
.web_header .web_cenbox .select {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 5px 10px;
}
.header {
  width: 100%;
  height: 136px;
}
.header .cenbox {
  position: relative;
  width: 1024px;
  margin: 0 auto;
  padding: 16px 10px 0px;
  height: 136px;
}
.header .cenbox .brand {
  width: 600px;
  height: 60px;
}
.header .cenbox .brand .img {
  width: 250px;
  height: 60px;
  border-right: 1px solid black;
  float: left;
}
.header .cenbox .brand .img img {
  width: 240px;
  height: 60px;
}
.header .cenbox .brand .word {
  float: left;
  height: 100%;
  text-align: center;
  padding: 5px 3px;
}
.header .cenbox .brand .word .chn {
  margin-left: 10px;
  font-size: 20px;
  letter-spacing: 1px;
}
.header .cenbox .brand .word .eng {
  width: 270px;
  display: inline-block;
  font-size: 10px;
  color: #646464;
}
.header .cenbox .tel {
  color: #892526;
  float: right;
  font-size: 16px;
  margin-top: -30px;
}
.header .cenbox .navbox {
  position: absolute;
  bottom: 0px;
  left: 10px;
  height: 30px;
}
.header .cenbox .navbox .nav {
  list-style-type: none;
}
.header .cenbox .navbox .nav li {
  float: left;
}
.header .cenbox .navbox .nav li .fenge {
  margin-left: 20px;
  margin-right: 20px;
}
.header .cenbox .navbox .nav li .word {
  display: inline-block;
  height: 30px;
}
.header .cenbox .searchbox {
  position: absolute;
  bottom: 9px;
  right: 10px;
  float: left;
  width: 200px;
  height: 30px;
  padding-right: 40px;
}
.header .cenbox .searchbox input {
  border: 1px solid #ccc;
  height: 100%;
  width: 100%;
  padding: 7.5px 5px;
}
.header .cenbox .searchicon {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #535353;
  width: 40px;
  height: 30px;
  padding: 3px 11px;
}
