.after:after {
  display: block;
  content: '';
  clear: both;
}
.before:before {
  display: block;
  content: '';
  clear: both;
}
.swiper-container {
  position: relative;
}
.swiper-container .wushi {
  position: absolute;
  left: 72px;
  bottom: 70px;
  z-index: 100;
  color: white;
  font-size: 50px;
}
.swiper-container .swiper-slide .lunbotu {
  background-position: center;
  width: 1280px;
  height: 460px;
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-container {
  width: 100%;
  min-width: 1024px;
}
.web_content {
  width: 100%;
}
.web_content .web_cenbox {
  width: 100%;
}
.web_content .introduce {
  padding: 20px 10px;
  width: 100%;
}
.web_content .introduce h1 {
  text-align: center;
}
.web_content .introduce .word {
  margin-top: 5px;
  color: #646464;
}
.web_content .introduce .more {
  width: 150px;
  height: 30px;
  background-color: #892526;
  color: white;
  margin: 30px auto;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.web_content .news {
  width: 100%;
  background-color: #f8f8f8;
  padding: 20px 0px;
  position: relative;
}
.web_content .news i {
  z-index: 100;
  color: #892526;
}
.web_content .news .lefticon {
  position: absolute;
  left: 0px;
  top: 30%;
}
.web_content .news .righticon {
  position: absolute;
  right: 0px;
  top: 30%;
}
.web_content .news .title {
  padding: 0 30px;
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
}
.web_content .news .swiper-container {
  width: 100%;
  height: 100px;
}
.web_content .news .swiper-container .swiper-wrapper .swiper-slide .article {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}
.web_content .news .swiper-container .swiper-wrapper .swiper-slide .article .newstitle {
  width: 100%;
}
.web_content .news .swiper-container .swiper-wrapper .swiper-slide .article .more {
  text-align: right;
  color: #892526;
}
.web_content .news .roll {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  height: 100px;
}
.web_content .news .roll .roll2 {
  position: absolute;
  left: 0px;
  top: 5px;
  width: 99999px;
}
.web_content .news .roll .roll2 .article {
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
}
.web_content .news .roll .roll2 .article .newstitle {
  width: 100%;
}
.web_content .news .roll .roll2 .article .more {
  text-align: right;
  color: #892526;
}
.web_content .news .checkmore {
  width: 150px;
  height: 30px;
  background-color: #892526;
  color: white;
  margin: 10px auto;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.content {
  margin-top: 30px;
  width: 100%;
}
.content .cenbox {
  min-width: 1024px;
  margin: 0px auto;
}
.content .cenbox .introduce {
  padding: 0px 10px;
  width: 1024px;
  margin: 0 auto;
}
.content .cenbox .introduce h1 {
  text-align: center;
  letter-spacing: 4px;
}
.content .cenbox .introduce .word {
  margin-top: 20px;
  color: #646464;
  letter-spacing: 2px;
  padding: 5px;
}
.content .cenbox .introduce .more {
  width: 200px;
  height: 40px;
  background-color: #892526;
  color: white;
  margin: 30px auto;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.content .cenbox .news {
  width: 100%;
  min-width: 1024px;
  background-color: #f8f8f8;
  padding: 30px 10px;
}
.content .cenbox .news .inbox {
  width: 1004px;
  margin: 0 auto;
}
.content .cenbox .news .inbox .title {
  width: 100%;
  font-size: 20px;
  margin-bottom: 20px;
}
.content .cenbox .news .inbox .article {
  position: relative;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.content .cenbox .news .inbox .article .time {
  position: absolute;
  top: 6px;
  left: 0px;
}
.content .cenbox .news .inbox .article .newstitle {
  width: 100%;
}
.content .cenbox .news .inbox .article .newszw {
  width: 100%;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.content .cenbox .news .inbox .article .more {
  position: absolute;
  bottom: 5px;
  right: 0px;
  color: #892526;
}
.content .cenbox .link {
  width: 1024px;
  padding: 0px 10px;
  margin: 50px auto 0;
}
.content .cenbox .link .title {
  width: 100%;
  text-align: center;
  font-size: 22px;
}
.content .cenbox .link .img {
  margin-top: 40px;
  width: 100%;
}
.content .cenbox .link .img .inimg {
  margin: 0 3px;
  position: relative;
  float: left;
  width: 245px;
  height: 190px;
}
.content .cenbox .link .img .inimg img {
  width: 100%;
  height: 100%;
}
.content .cenbox .link .img .inimg .word {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
@media (max-width: 600px) {
  .swiper-container {
    width: 100%;
    height: 150px;
    min-width: 0px;
  }
  .swiper-container .swiper-wrapper .swiper-slide .back {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
}
