.after:after {
  display: block;
  content: '';
  clear: both;
}
.before:before {
  display: block;
  content: '';
  clear: both;
}
.wushi {
  position: absolute;
  left: 72px;
  bottom: 70px;
  z-index: 100;
  color: white;
  font-size: 50px;
}
